{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "> 1%"],
        "node": 4,
      },
    }],
    "react",
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-object-entries",
    "transform-do-expressions",
  ],
  "env": {
    "DOCS": {
      "plugins": [
        "react-docgen",
      ],
    },
  },
}
